<h4>
  <%= @author.name %>
  <%= link_to "Delete", author_path( @author ),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-default" %>
 <%= link_to "Edit", edit_author_path( @author ), class: "btn btn-default" %>
</h4>
<%= simple_format @author.bio %>

<% @author.tags.each do |tag| %>
  <div class="chip tags z-depth-2"><%= tag.name %></div>
<% end %>

<hr  />

<%= link_to "Add new Poem", new_poem_path( author_id: @author.id),
                                           class: "btn btn-default" %>

<%= link_to "Add new Story", new_story_path( author_id: @author.id),
                                           class: "btn btn-default" %>
